@CHARSET "ISO-8859-1";

.fileColumnHeader{
	font-weight: 700;
	font-size: 16px;
}

.fileNameColumn {
	width: 300px;
	display: inline-block;
	
}

.fileDateColumn{
	width: 300px;
	display: inline-block;
}

.fileSizeColumn{
	width: 100px;
	display: inline-block;	
}