<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/browser.css" />
<title th:text="${groupId}">Group File Browser</title>
</head>
<body>
	<div class="application">
		<div class="menu">
			<div class="menuItem"><div class="logo"><a href="https://www.faa.gov/"><img alt="Logo" src="/images/logoFAA.png" class="logo"/></a></div>
			<div th:text="${groupId}" class="groupId">Group file list</div>
			</div>
			<div class="searchText">
				<input id="textSearch" type="text" class="search" placeHolder="SEARCH"/>
				<div id="searchResults" class="searchResults">RESULTS....</div>
			</div>
		</div>
		<div class="mainBody">
		<div th:each="day : ${days.keySet()}" class="day">
			<span th:text="${day}">The day String</span> 
			<div class="fileHeader">
				<div class="fileColumnHeader fileNameSort">File Name <div class="sort-arrows"><div class="fileNameArrowUp arrow-up"></div><div class="fileNameArrowDown arrow-down"></div></div></div>
				<div class="fileColumnHeader modifiedSort">Last Mod  <div class="sort-arrows"><div class="modifiedArrowUp arrow-up"></div><div class="modifiedArrowDown arrow-down"></div></div></div>
				<div class="fileColumnHeader fileSizeColumn">Size</div>
				<div class="fileColumnHeader fileTypeColumn">Type</div>
			</div>
			<div class="dayfileRows">	
				<div th:each="file : ${days.get(day)}" class="fileRow">
					<div class="fileNameColumn">
						<a th:href="@{/getFile(group=${groupId},file=${file.getName()})}" th:text="${file.getName()}" class="fileLink">The File Name</a>
					</div>
					<div th:text="${file.getDate()}" class="fileDateColumn">file date</div>
					<div th:text="${file.getSize()}" class="fileSizeColumn fileSizeCell">file Size</div>
					<div th:text="${file.getType()}" class="fileTypeColumn fileSizeCell">file Type</div>
					 <img alt="type" th:src="${file.getIcon()}" class="typeIcon"/>
				</div>
			</div>
		</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="/js/browser.js"></script>
</html>